
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
    font-weight: $base-font-weight;
    line-height: 1.3;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5 {
    margin-top: $spacing-unit / 2;
}


h1 {
    font-size: 2.0em;
    font-weight: 900;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.85em;
    font-weight: 700;
}

h3 {
    font-size: 1.55em;
    font-weight: 700;
}

h4 {
    font-size: 1.4em;
    font-weight: normal;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Styles
 */

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1ffe3+0,f9ffed+10,fffdff+25,ffffff+50,fffdff+75,f9ffed+90,f1ffe3+100 */
    background: #f1ffe3; /* Old browsers */
    background: -moz-linear-gradient(left, #f1ffe3 0%, #f9ffed 10%, #fffdff 25%, #ffffff 50%, #fffdff 75%, #f9ffed 90%, #f1ffe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f1ffe3 0%,#f9ffed 10%,#fffdff 25%,#ffffff 50%,#fffdff 75%,#f9ffed 90%,#f1ffe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f1ffe3 0%,#f9ffed 10%,#fffdff 25%,#ffffff 50%,#fffdff 75%,#f9ffed 90%,#f1ffe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ffe3', endColorstr='#f1ffe3',GradientType=1 ); /* IE6-9 */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9ffb3+0,e8ffbb+10,e5ffcc+25,eeffe5+50,e5ffcc+75,e8ffbb+90,d9ffb3+100 */
    background: #d9ffb3; /* Old browsers */
    background: -moz-linear-gradient(left, #d9ffb3 0%, #e8ffbb 10%, #e5ffcc 25%, #eeffe5 50%, #e5ffcc 75%, #e8ffbb 90%, #d9ffb3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d9ffb3 0%,#e8ffbb 10%,#e5ffcc 25%,#eeffe5 50%,#e5ffcc 75%,#e8ffbb 90%,#d9ffb3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d9ffb3 0%,#e8ffbb 10%,#e5ffcc 25%,#eeffe5 50%,#e5ffcc 75%,#e8ffbb 90%,#d9ffb3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffb3', endColorstr='#d9ffb3',GradientType=1 ); /* IE6-9 */

    @include media-query($on-palm) {
        background: none;
    }
}

table.styled-table {
    border-spacing: 0;
    border: solid 1px gray;
    border-radius: 0.5em;
    overflow: hidden;
    font-size: 0.9em;
    margin-bottom: 1em;

    th {
        background: #EAEAFF;
    }
    th, td {
        padding: 0.2em 0.47em;
    }
}

table.hower-row {
    tr:hover td {
        background: #FFFFCA;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.green-strong {
    strong {
        color: green;
    }
}
